
.row{
    margin-left: 20px;
    color:#FFF;
    
}
.Posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: pointer;

}
.Posters::-webkit-scrollbar{
    display: none;
}

.Poster{
    max-height: 250px;
    margin-right: 10px;
    
}

.Smallposter{
    max-height: 150px;
    margin-right: 10px;
    
}